i.icon{
    font-size: 2em;
}


.headericon{
    font-size: 2em;

}
.container.main{
    margin-top: 7em;
}

.ui.secondary.pointing.fixed.menu{
    background: #708090;
}

#delete{
    display: inline;
}